<!DOCTYPE html>
<html lang="en" ng-app="treeApp">
<head>
    <meta charset="UTF-8">
    <title>JavaScript高级程序设计(第三版)学习笔记</title>
    <link rel="stylesheet" href="../plugins/bootstrap-3.3.0/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../plugins/font-awesome-4.5.0/css/font-awesome.css">
    <link rel="stylesheet" href="../plugins/angular-ui-tree-master/source/angular-ui-tree.css">
    <link rel="stylesheet" href="../plugins/angular-ui-tree-master/examples/css/app.css">

</head>
<body ng-controller="TreeCtrl" class="container">
{{nodes}}
<hr/>
<div class="row" nodes="{{nodes}}">

</div>
<script src="../plugins/angular-1.4.8/angular.js"></script>
<script src="../plugins/angular-1.4.8/angular-route.js"></script>
<script src="../plugins/jquery-2.1.1.min.js"></script>
<script src="../plugins/bootstrap-3.3.0/dist/js/bootstrap.js"></script>

<script>
    angular.module("treeApp",['ngRoute'])
    .controller("TreeCtrl", ["$http","$scope", function ($http,$scope) {
        $http.get("../data/index-menu.json").success(function (data) {
            $scope.nodes=data;
        });
    }])
    .directive("nodes",function(){
        return{
            restrict:'A',
            scope:{nodes:'@'},
            template:
            "<div class='row' ng-repeat='node in nodes track by $index'>" +
            "<i class='fa' ng-class='{\"fa-folder\":node.nodes}'>{{node.text}}</i>" +
            "<div class='row'ng-if='node.nodes' nodes='node.nodes'></div>" +
            "</div>"
        };
    });

</script>
</body>

</html>